<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="/stylesheet.css" />
  <link rel="icon" href="/images/favicon.ico" />
</head>
<body>
  <% if session[:message] %>
    <p class="alert"><%= session.delete(:message) %></p>
  <% end %>
  <%= yield %>
</body>
</html>