* {
  padding: 5px;
}

body {
  font-family: sans-serif;
  padding-left: 20px;
}

.alert {
  background-color: yellow;
}

.no-decoration {
  text-decoration: none;
}

li {
  list-style-type: decimal;
}

div * {
  display: block;
}

.signin a {
  font-style: italic;
  font-size: 90%;
  color: #000;
}